body{
    background-color: lightgrey;
}

.kopsurat {
    width: 50%;
    padding: 20px;
    margin: 0 auto;
    background-color: white;

}

.judul{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}


.table {
    width: 95%;
    border-radius: 5px;
    background-color: lightgoldenrodyellow ;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
}

button {
    background-color:lightgoldenrodyellow;
    transition: 0.2s;
    font-style: italic;
    text-align: center;
    color: dark;
    width: 100%;
    border: none;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
}

button:hover{
    color: black;
    letter-spacing: 2px;
}

@media only screen and (max-width: 400px) {
    body {
        margin: 0;
        padding: 0;
    }
    
    .kopsurat {
        width : 80%;
        padding : 0px;
    }
    .judul {
        font-size: 1rem;
        text-align: center;

    }

    td {
        font-size: 0.7rem
    }
    .table {
        width : 100%;
        padding : 0px;
        width: 95%;
    }
  }

